/* .users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.users > * {
  flex-basis: 31%;
}

.users {
  background-color: var(--white);

  padding: 1rem;
}

.users-info {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}

.users-header {
  font-size: larger;
  font-weight: 700;
  line-height: 3rem;
  color: whitesmoke;
} */
